#reservations{
	position: relative;
}
.reservationView{
	background: #FFF;
	float: left;
	width: 255px;
	margin-bottom: 10px;
    -moz-transition-duration: 1s; /* firefox */
    -webkit-transition-duration: 1s; /* chrome, safari */
    -o-transition-duration: 1s; /* opera */
    -ms-transition-duration: 1s; /* ie 9 */
	position: absolute;
	padding-bottom: 10px;
}
.reservationView h3{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.justified{
	text-align: justify;
	text-indent: 30px;
	line-height: 2em;
}
#createQuotationForm{
	text-align: center;
}