#menu_div{
	margin-top: 200px;
	z-index: 100;
	text-align: right;
	height: 300px;
}
#header h1{
	color: #000;
	font-size: 50px;
	font-family: 'Tangerine';
}
#menu_div ul{
	background-image: url(../static/img/window-bg.png);
	background-attachment: absolute;
	width: inherit;
}
#menu_div ul li{
	display: list-item;
	margin-right: 5px;
}
#menu_div ul li a{
	
}