#menu_div{
	margin-top: 30px;
}
#menu_ul{
	float: none;
	margin: auto;
	position: inherit;
}
#menu_div .menu_link{
	background:rgba(209,236,169,0.2) url(../static/img/overlay.png);
 	-moz-box-shadow:0px 0px 2px #FFF inset;
	-webkit-box-shadow:0px 0px 2px #FFF inset;
	box-shadow:0px 0px 2px #FFF inset;
}
.menu_head, .menu_desc{
	text-shadow:1px 1px 1px #000;
}
.menu_head{
	color:#334b10;
	font-size:24px;
}
.menu_desc{
	color:#F6F6F6;
	font-size:10px;
	letter-spacing:1px;
}
#menu_div .navbar-inner{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 0;
	background: 0;
	padding: 0;
}
.navbar-inner{
	margin: 0 220px;
}