#menu_div{
	text-align: right;
	z-index: 10;
	height: 320px;
	margin-top: 200px;
	position: static;
}
#header h1{
	color: #000;
	font-size: 50px;
	font-family: 'Tangerine';
}
@media (max-width: 767px) {
	.affix {
		position: static;
		width: auto;
		top: 0;
		margin-top: -200px;
	}
}